<app-modal-main>
  <div class="name" slot="header">List categories</div>
  <div class="container" slot="body">
    <div class="item-title">
      <span class="title-icon">icon</span>
      <span class="title-name">name</span>
      <span class="title-action">action</span>
    </div>
    <ul >
      <li *ngFor="let item of categories; index as i">
        <app-category-item
          [itemCategory]="item"
          (editClick)="categoryService.edit(item)"
          (removeClick)="categoryService.remove(item)"
        ></app-category-item>
      </li>
    </ul>
  </div>
  <div slot="footer">
    <app-btn-negative class="m-r-auto" (click)="ref.close()">
      <span slot="button">Close</span>
    </app-btn-negative>
    <app-btn-positive (click)="openAddCategory()">
      Add category
    </app-btn-positive>
  </div>
</app-modal-main>
