<div class="container">
  <div class="wrapper">
    <div class="info-text">
      <div class="category-wrapper">
        <app-category-view [categoryId]="item.categoryId"></app-category-view>
      </div>
      <div class="title-wrapper">
        <span class="name">{{ item.name }}</span>
      </div>
    </div>
    <div class="action-wrapper">
      <span class="price"> -${{ item.price }}</span>
      <div class="actions">
        <app-btn-icon (click)="editItem()">
          <img slot="button" src="../assets/edit.png" />
        </app-btn-icon>
        <app-btn-icon (click)="removeItem()">
          <img slot="button" src="../assets/delete.png" alt="" />
        </app-btn-icon>
      </div>
    </div>
  </div>
</div>
