.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;

	.icon {
        display: flex;
        align-items: center;
        margin-right: 30px;
		position: relative;
		cursor: pointer;
        transition: 150ms;
        border-radius: 15px;


        &:hover{
            background-color: #C0C0C0;
        }
	}

	ul {
		position: absolute;
		left: 0;
		top: 100%;
        width: 150px;
        height: 150px;
		visibility: hidden;
        border-radius: 7px;
        border: 1px solid #888;
        background-color: white;
		list-style: none;
		margin: 0;
        padding: 10px;
        z-index: 5;

        &.open{
            visibility: visible;
        }

        li{
            margin: 5px 0;
            padding: 5px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 15px;
            transition: background-color 150ms;
            .text{
                font-size: 14px;
            }
        
            &:hover{
                background-color: #eee;
            }
        }
	}
}
