:host{
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 350px;
  padding-top: 20px;
}

.date-wrapper{
  display: flex;

  .day{
    margin-left: 10px;
    color: #888;
  }
}

ul {
  margin: 10px 0;
  padding: 0;
  padding: 15px;
}

.loggs {
  display: flex;
  align-items: center;

  .item{
    width: 100%;
    padding: 10px 0px;
    border-radius: 25px;
  }
}
