.container {
  padding: 20px 0;
  background-color: white;
  box-shadow: 5px 5px 10px grey;
  border-radius: 10px;

  .wrapper {
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .info-text {
      display: flex;
      align-items: center;

      span {
        max-width: 250px;
        &.name {
          flex: 1;
        }
      }
      .category-wrapper {
        padding: 5px 7px;
        border-radius: 7px;
        background-color: lightskyblue;
      }
      .title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .name {
          font-size: 20px;
          font-weight: 700;
          margin-left: 10px;
        }
      }
    }
    .action-wrapper {
      display: flex;
      align-items: center;

      .price {
        margin-right: 10px;
        font-weight: 700;
      }

      .actions {
        display: flex;
        img {
          margin: 0 5px;
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}
