<div class="container" [class.checked]="item.isChecked">
  <div class="wrapper" >
        <div class="info">
          <div class="info-checked">
            <input type="checkbox" [checked]="item.isChecked" (change)="checked(item)" />
          </div>
          <app-category-view [categoryId]="item.categoryId"></app-category-view>
          <div class="info-text">
            <span class="name">{{ item.name }}</span>
            <span class="time-info" >{{item.date | timeFormat}}</span>
          </div>
        </div>
    
    <div class="action-wrapper">
      <span class="price"> -${{ item.price }}</span>
      <div class="actions">
        <app-tooltip text="Edit this item">
          <app-btn-icon (click)="editItem()">
            <img src="assets/edit.png" />
          </app-btn-icon>
        </app-tooltip>
        <app-tooltip text="Delete this item">
          <app-btn-icon (click)="removeItem()">
            <img src="assets/delete.png" />
          </app-btn-icon>
        </app-tooltip>
      </div>
    </div>
  </div>
</div>
