<div class="wrapper-list">
  <div class="item">
    <div class="icon-wrapper">
      <span class="icon"><i [class]="itemCategory.icon"></i></span>
    </div>
    <div class="title-wrapper">
      <span class="name">{{ itemCategory.name }}</span>
    </div>
    <div class="action">
      <app-btn-icon (click)="editItem()">
        <div class="tooltip">
          <span class="tooltiptext">Edit</span>
          <img slot="button" src="../assets/edit.png" />
        </div>
      </app-btn-icon>
      <app-btn-icon (click)="removeItem()">
        <div class="tooltip">
          <span class="tooltiptext">Delete</span>
          <img src="../assets/delete.png" alt="" />
        </div>
      </app-btn-icon>
    </div>
  </div>
</div>
