.wrapper-list {

  .item {
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 5px 0;
    background-color: #E6E6FA;
    border-radius: 5px;
  }
  .icon {
    display: flex;
    font-size: 22px;
    text-align: center;
    margin-left: 10px;
  }

  .title-wrapper {
    display: flex;
    align-items: center;

    .name {
      font-size: 20px;
      font-weight: 700;
      margin-left: 10px;
    }
  }
}

.action {
  button {
    padding: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  img {
    margin: 0 5px;
    width: 15px;
    height: 15px;
  }
}
