<app-modal-main>
  <div class="name" slot="header">Add salary</div>
  <div class="wrapper-form" slot="body">
    <div class="salary">
      <input type="text" [formControl]="priceControl" />
      <span
        *ngIf="
          priceControl.invalid && (priceControl.dirty || priceControl.touched)
        "
      >
        <div *ngIf="priceControl?.errors?.['required']">
          <span class="error">Please enter to date</span>
        </div>
        <div *ngIf="priceControl?.errors?.['pattern']">
          <span class="error">Please enter to number</span>
        </div>
      </span>
    </div>
  </div>
  <div slot="footer">
    <app-btn-positive (click)="addSalaryValue()">
      Add
    </app-btn-positive>
  </div>
</app-modal-main>
