<div class="container">
  <div class="wrapper-data">
    <div class="wrapper-category">
      <app-btn-icon (click)="openListCategory()">
        <div class="tooltip">
          <span class="tooltiptext">Categories</span>
          <img slot="button" src="../assets/config.png" />
        </div>
      </app-btn-icon>
    </div>
    <div class="wrapper-item">
      <div class="item" (click)="addSalary()" id="budget">
        <div class="tooltip">
          <span class="tooltiptext">Add to salary</span>
          <img src="../assets/wallet.png" />
        </div>
        
        <div class="money">
          <div class="title">Budget</div>
          <span>${{ budget }}</span>
        </div>
      </div>

      <div class="item">
        <app-balance [expences]="data" [budget]="budget"></app-balance>
      </div>
    </div>

    <div class="wrapper-loggs">
      <div class="item-title">
        <span class="title-expence">Expence</span>
      </div>
      <app-expence-list
        [list]="data"
        (remove)="handleRemove($event)"
        (edit)="edit($event.item, $event.index)"
      ></app-expence-list>
    </div>
    <div class="actions">
      <div class="tooltip">
        <span class="tooltiptext">Add new expence</span>
        <button (click)="addExpence()" id="expence">+</button>
      </div> 
    </div>
    <div class="item">
      <app-expence [expences]="data"></app-expence>
    </div>
  </div>
</div>
