<app-modal-main>
  <div class="name" slot="header">Add expence</div>
  <div class="wrapper" slot="body">
    <div class="expence" [formGroup]="fullNameControl">
      <div class="form-wrapper">
        <app-input-text formControlName="name"> Name </app-input-text>
        <div class="error-block">
          <span
            *ngIf="
              nameControl.invalid && (nameControl.dirty || nameControl.touched)
            "
          >
            <div *ngIf="nameControl?.errors?.['required']">
              <span class="error">Please enter to date</span>
            </div>
          </span>
        </div>

        <app-input-number formControlName="price"> Amount </app-input-number>

        <div class="error-block amount">
          <span
            *ngIf="
              priceControl.invalid &&
              (priceControl.dirty || priceControl.touched)
            "
          >
            <div *ngIf="priceControl?.errors?.['required']">
              <span class="error-amount">Please enter to date</span>
            </div>
            <div *ngIf="priceControl?.errors?.['min']">
              <span class="error">Price cannot be less than zero</span>
            </div>
          </span>
        </div>
      </div>

      <div class="form-wrapper">
        <app-input-select formControlName="categoryId" [options]="options">
          Category
        </app-input-select>

        <app-input-date formControlName="date"> Date </app-input-date>
      </div>
    </div>
  </div>
  <div slot="footer">
    <app-btn-negative class="m-r-auto" (click)="ref.close()">
      <span slot="button">Close</span>
    </app-btn-negative>
    <app-btn-positive (click)="addExpence()">
      <span *ngIf="isEdit" slot="button">Edit</span>
      <span *ngIf="!isEdit" slot="button">Add</span>
    </app-btn-positive>
  </div>
</app-modal-main>
