.wrapper {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  padding: 10px;
  overflow-x: hidden;
  

  .form-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;

    &:first-child{
      margin: 20px 0;
    }

    &:last-child{
      margin-top: 40px;
    }

    .name{
      margin: 0 6px;
    }

    .error-block{
      position: absolute;
      bottom: -20px;
    }
  }

  button {
    background-color: white;
    cursor: pointer;
    border-radius: 3px;
    margin: 10px 0;
  }

  input {
    margin: 15px 0;
  }

  .expence {
    padding: 0 30px;

    span {
      color: red;
    }

    i {
      margin-right: 5px;
    }
  }
}

.ng-select {
  width: 160px;
}
