.wrapper-form {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;

  button {
    background-color: white;
    cursor: pointer;
    border-radius: 3px;
    margin: 10px 0;
  }

  input {
    margin: 10px 0;
  }

  .expence {
    padding: 10px 15px;
    margin-bottom: 100px;
    border: 1px solid red;

    .name {
      margin: 8px 0;
    }
    span {
      color: red;
    }

    i {
      margin-right: 5px;
    }
  }

  .select {
    margin: 15px 0;
  }
}

.select ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items {
  max-height: 110px;
}
