.list-color {
    display: flex;
    align-items: center;
    padding: 20px 15px;
    flex-wrap: wrap;
    border-bottom: 2px solid #eee;
  
    input {
      margin: 0 12px;
      z-index: 10;
    }
  }
  
  input[type="radio"] {
    cursor: pointer;
  }
  
  input[type="radio"] {
    position: relative;
    height: 26px;
    width: 26px;
  }
  
  input[type="radio"]::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: inherit;
  }
  
  input[type="radio"]:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    height: 150%;
    border-radius: 50%;
    filter: blur(10px);
    background-color: inherit;
    transform: translate(-50%, -50%);
    visibility: visible;
  }