<app-modal-main>
  <span class="title" slot="header">Enter new category</span>
<div class="container" slot="body">
  <div class="form-category">
    <span>Choose icon category</span>
    <app-category-icon-picker [formControl]="iconControl"></app-category-icon-picker>
    <span *ngIf="iconControl.invalid && (iconControl.dirty ||iconControl.touched)">
      <div *ngIf="iconControl?.errors?.['required']">
        <span class="error">Please choose an icon</span> 
      </div>
    </span>
    <app-input-text [formControl]="nameControl">
      Category
    </app-input-text>
    <span *ngIf="nameControl.invalid && (nameControl.dirty ||nameControl.touched)">
      <div *ngIf="nameControl?.errors?.['required']">
        <span class="error">Please enter to date</span> 
      </div>
      </span>
  </div>
</div>

<div class="actions" slot="footer">
  <app-btn-negative class="m-r-auto" (click)="ref.close()">
    <span slot="button">Close</span>
  </app-btn-negative>
    <app-btn-positive (click)="addCategory()">
      <span *ngIf="isEdit" slot="button">Edit</span>
      <span *ngIf="!isEdit" slot="button">Add</span>
    </app-btn-positive>
</div>
</app-modal-main>