::ng-deep .ng-select.form-field {
  display: flex;
  padding: 0;
  max-width: inherit;

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option,
  .ng-value-container {
    .ng-value-label{
      display: flex;
      align-items: center;
      font-weight: 700;
    }
    .ng-option-label {
      display: flex;
      align-items: center;
      font-weight: 700;
    }
    i {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 10px;
    }
  }

  .ng-select-container {
    min-width: 150px;
    height: 100%;

    .ng-value-container .ng-placeholder {
      color: #cbd1dc;
    }
  }
}
