.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  position: absolute;
  z-index: 1;
  width: 120px;
  visibility: hidden;
  background-color: grey;
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 14px;
  left: 50%;
  margin-left: -70px;
  bottom: 110%;
}

.tooltip:hover .tooltiptext {
  transition: 500ms;
  visibility: visible;
}
